@model Nordik_Aventure.Objects.Models.User.Client
@{
    Layout = "_ClientLayout";
}

<div class="container-fluid h-100">
    <div class="row h-100">

        <div class="col-8 d-flex flex-column">
            <h3 class="h3">Fiche du client @Model.Name</h3>
            <div class="cards-container">
                <div class="mb-3">
                    <label class="form-label fw-bold">Nom</label>
                    <input type="text" class="form-control" value="@Model.Name" readonly>

                    <label class="form-label fw-bold mt-3" mt-3>Email</label>
                    <input type="text" class="form-control" value="@Model.Email" readonly>

                    <label class="form-label fw-bold mt-3">Adresse</label>
                    <input type="text" class="form-control" value="@Model.Address" readonly>

                    <label class="form-label fw-bold mt-3">Type</label>
                    <input type="text" class="form-control" value="@Model.Type.ToUpper()" readonly>

                    <label class="form-label fw-bold mt-3">Mot de passe</label>
                    <input onclick="alert('@Model.Password')" id="password" type="password" class="form-control" value="@Model.Password" readonly>

                    <label class="form-label fw-bold mt-3">Téléphone</label>
                    <input type="text" class="form-control" value="@Model.Phone" readonly>

                    <label class="form-label fw-bold mt-3">Status</label>
                    <input type="text" class="form-control" value="@Model.Status" readonly>

                    <label class="form-label fw-bold mt-3">Niveau de satisfaction</label>
                    <input type="text" class="form-control" value="@(Model.SatisfactionLevel.HasValue ? Model.SatisfactionLevel.Value : "*") / 5" readonly>
                </div>
            </div>
        </div>

        <div class="col-4 d-flex flex-column justify-content-evenly my-5 align-items-center">
            <a href="@Url.Action("EditClientForm", "Client", new { id = Model.Id })"
               class="btn w-75 mb-3"
               style="background-color: var(--background-button); color: var(--text-white);">
                Modifier
            </a>

            <a href="@Url.Action("GetAllSaleForClientById", "Client", new { clientId = Model.Id })"
               class="btn w-75 mb-3"
               style="background-color: var(--background-button); color: var(--text-white);">
                Consulter Factures
            </a>

            <a href="@Url.Action("ModifyProductForm", "Product")"
               class="btn w-75 mb-3"
               style="background-color: var(--background-button); color: var(--text-white);">
                Consulter Interactions
            </a>
        </div>

    </div>
</div>