@model List<Nordik_Aventure.Objects.Models.User.Client>
@{
    Layout = "_ClientLayout";

    var list = Model;
}

<div class="container-fluid">
    <div class="row align-items-center mb-4">
        <div class="col">
            <h3 class="h3 mb-0 ms-2">Liste des clients</h3>
        </div>
        <div class="col text-end">
            <input id="searchInput" oninput="FilterList()" type="text" class="form-control w-50 d-inline-block" placeholder="Rechercher un client..."/>
        </div>
    </div>
    <hr/>
    <div class="row mb-4 cards-container py-4 px-2">
        @foreach (var c in list)
        {
            <div class="col-md-6 mb-4" id="product-card-zone" data-name="@c.Name.ToLower()">
                <div class="product-card">
                    <div class="header">
                        <div class="info">
                            <p class="name">@c.Name</p>
                        </div>
                        <div class="status">
                            @if (c.Status == "Actif")
                            {
                                <span class="status-actif">● Actif</span>
                            }
                            else
                            {
                                <span class="status-inactif">● Inactif</span>
                            }
                        </div>
                    </div>

                    <div class="card-content">
                        <p><strong>Email:</strong> @c.Email</p>
                        <p><strong>Type:</strong> @c.Type</p>
                        <p><strong>Satisfaction:</strong> @(c.SatisfactionLevel.HasValue ? c.SatisfactionLevel.Value : "*") / 5</p>
                    </div>

                    <div class="text-center mt-2">
                        <a href=@Url.Action("GetSingleClient", "Client", new { id = c.Id }) class="btn w-50" style="background-color: var(--background-button); color: var(--text-white);">
                            Consulter
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function FilterList() {
        let word = document.getElementById("searchInput").value.toLowerCase();
        let cards = document.querySelectorAll("#product-card-zone");

        if (word.length === 0){
        cards.forEach(card => {
            card.style.display = "block"
        })
        }
        cards.forEach(card => {
            let name = card.getAttribute("data-name");
            card.style.display = name.startsWith(word) ? "block" : "none";
        });
    }
</script>